<!DOCTYPE html>
<html>
<head>
    <title><%= contacts.prenom %> <%= contacts.nom %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= contacts.prenom %></h1>
<p><%= contacts.nom %></p>
</body>
</html>
